[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zshhighlighting"]
  path = zsh/autoload/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "p10k"]
  path = zsh/autoload/powerlevel10k
  url = https://github.com/romkatv/powerlevel10k
[submodule "nvim/vim-plug"]
	path = nvim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/autoload/zsh-syntax-highlighting"]
	path = zsh/autoload/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/autoload/powerlevel10k"]
	path = zsh/autoload/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "dotbot-plugins/dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/jarodtowner/dotbot-brew.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/jarodtowner/dotbot-brew.git
